# .NET build files
bin/
obj/

# NuGet Packages
*.nuget.props
*.nuget.targets
packages/

# Visual Studio files
.vs/
*.user
*.suo
*.cache
*.sln.docstates

# Resharper files
_ReSharper*/

# Publishing Profiles
*.pubxml
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# AxoCover - Code Coverage Tool
.axoCover*/
!.axoCover/settings.json

# Coverlet - Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info
/src/NativeBackend.API/Properties/PublishProfiles/native-001-site44 - FTP.pubxml
/src/NativeBackend.API/Properties/PublishProfiles/native-001-site44 - Web Deploy.pubxml
